body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.auth-buttons button {
    background-color: #E60023;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.hero h1 {
    font-size: 2.5em;
    color: #333;
}

.hero span {
    color: #DAA520;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.05);
}
.ahref {
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 70px solid transparent;
    color: #ff3500;
    padding: 17px 50px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    animation: fadeIn 0.8s ease-out;
}

/* Additional styles */
.login-container input, 
.login-container button {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-out forwards;
}

.login-container input {
    animation-delay: 0.3s;
}

.login-container button {
    animation-delay: 10.6s;
}
